.comment.noncollapsed .usertext.hrbau--hidden::before {
    margin-top: 5px;
    content: "hidden";
    display: block;
    font-style: italic;
}
.comment.noncollapsed .usertext.hrbau--hidden .usertext-body {
    display: none;
}
.comment.noncollapsed .usertext.hrbau--hidden + ul.buttons {
    margin-top: 5px;
}
.comment.noncollapsed .usertext.hrbau--hidden + ul.buttons > li:not(.hide-show-button) {
    display: none;
}
.comment.noncollapsed .usertext.hrbau--hidden + ul.buttons > li.hide-show-button {
    padding-left: 0;
}
